# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Windows stuff
*.ini

# Distribution / packaging
*.egg-info/
.eggs/

#
Flask stuff:

instance/
save/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project
.spyproject/

# Pycharm
.idea/

# Specific folders
data/
#charts/
#.xlsx
*.pdf

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
